* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    background: #4A5B7E;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    min-width: 28rem;
    min-height: 80vh;
    padding: 10px;
}

.text-bold {
    font-weight: 800;
}

.text-small {
    font-size: 11px;
}

.text-center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-white {
    color: white;
}

.theme-delre {
    background-color: #4A5B7E;
    color: white;
    border: transparent;
}

.theme-delre:hover {
    background-color: #4A5B7E;
}

.equal-sign {
    background-color: #DB3D2B;
    color: white;
    border: transparent;
}

.equal-sign:hover {
    background-color: #DB3D2B;
}

.switcher {
    display: flex;
    justify-content: space-between;
}

#outerContainer {
    display: flex;
    position: relative;
    width: 130px;
    height: 70px;

}

#buttonContainer {
    background-color: #222D41;
    width: 71px;
    height: 28px;
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 14px;
}

.redButton {
    width: 16px;
    height: 16px;
    background-color: #DB3D2B;
    border-radius: 8px;
    position: relative;
    top: 6px;
    left: 6px;
}

#legendTextContainer {
    right: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    color: #ffffff;
    font-family: Arial;
    font-size: 10pt;
    text-align: center;
}

.legendText {
    display: inline-block;
    width: 20px;
    padding-bottom: 33px;
    cursor: default;
    user-select: none;
}

/* #message {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 4px;
    margin-top: 6px;
    font-family: Arial;
    font-size: 10pt;
} */

.layar-cal {
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 20px;
    background: #25344e;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px;
    background: #25344e;
    border-radius: 10px;
}

.calculator-keys button:nth-child(17) {
    grid-area: 5 / 1 / span 1/ span 2;
}

.calculator-keys button:nth-child(18) {
    grid-area: 5 / 3 / span 1/ span 2;
}

button {
    height: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

button:hover {
    transform: translateY(-2px);
    background-color: #eaeaea;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}



.redButton.horizTranslate2 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(20px);
}

.redButton.horizTranslate3 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(40px);
}

.redButton.horizTranslate1 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(0px);
}

@media screen and (max-width: 440px) {
    .container {
        min-width: 80%;
    }

    .calculator-keys {
        grid-gap: 10px;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 17px;
    }
}


@media screen and (max-width: 280px) {
    .container {
        min-width: 100%;
    }

    .calculator-keys {
        grid-gap: 10px;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 17px;
    }
}