@import '@styles/base';

.container {
  @include containerBody;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dark {
  @include dark-theme;
  background: var(--color-neutral-dark-blue);
}

.light {
  @include light-theme;
  background: var(--color-neutral-dark-blue);
}
