@import '@styles/base';

.todo {
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  width: 100%;
  height: 100vh;
  @include directionX;
  justify-content: center;

  .container {
    @include containerBody;
    padding-top: 100px;

    .active {
      color: $color-primary-right-blue;
    }
    .underline {
      border-bottom: 2px solid $color-neutral-light-theme-light-grayish-blue;
      width: 100%;
    }

    .sub_text {
      font-size: 14px;
      font-weight: 300;
    }

    .main_text {
      font-size: 16px;
      font-weight: 400;
    }

    .icon_close {
      padding-right: 10px;
      color: $color-neutral-dark-theme-dark-grayish-blue;
      font-size: 24px;
      cursor: pointer;
    }

    .coretKata {
      text-decoration: line-through;
      font-style: italic;
    }

    .content_title {
      @include directionX;
      justify-content: space-between;
      align-items: center;

      .text_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
        letter-spacing: 5px;
        font-weight: 800;
        color: $color-light-blue;
      }
    }
  }
}

.dark {
  background-image: url('@static/images/bg-desktop-dark.jpg');
  background-color: $color-neutral-dark-theme-very-dark-desaturated-blue;
}

.light {
  background-image: url('@static/images/bg-desktop-light.jpg');
  background-color: $color-neutral-light-theme-light-grayish-blue;
}
