  .App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(235, 16%, 14%);
    background-image: url('./assets/images/bg-stars.svg');
    overflow: hidden;
  }

  .text-comming-soon {
    text-align: center;
    letter-spacing: 5px;
    line-height: 16px;
  }


  .container-countdown {
    padding-top: 90px;
  }

  .patternLogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }

  .countdown {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    column-gap: 20px;
  }

  .countdown-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 16rem;
    height: 16rem;
  }

  .container-kotak {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .kotak-atas {
    top: 0;
    position: absolute;
    background: #2c2c44;
    height: 5.5rem;
    width: 13rem;
    z-index: 1;
    border-radius: 10px;
  }

  .text-countdown {
    letter-spacing: 5px;
    color: hsl(237, 18%, 59%);
  }

  .text-overlay-countdown {
    position: absolute;
    font-size: 70px;
    color: hsl(345, 95%, 68%);
    z-index: 2;
  }

  .kotak-bawah {
    bottom: 0;
    position: absolute;
    background: #353550;
    height: 5.5rem;
    width: 13rem;
    z-index: 1;
    border-radius: 10px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .media-social {
    position: absolute;
    gap: 40px;
    bottom: 50px;
    display: flex;    
  }