@import "./index.module.scss";

.container {
  @include containerBody;

  .search {
    padding: 20px 0;
    @include directionX;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    @include directionX;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
.darkModeContent {
  background-color: hsl(207, 26%, 17%);
}