@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$color-dark-blue: hsl(209, 23%, 22%);
$color-very-dark-blue: hsl(207, 26%, 17%);
$color-light-very-dark-blue: hsl(200, 15%, 8%);
$color-dark-gray: hsl(0, 0%, 52%);
$color-light-very-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;

  color-scheme: light dark;
  color: $color-light-very-dark-blue;
  background: $color-light-very-gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@mixin for-phone-only {
  @media (max-width: 699px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin directionY {
  display: flex;
  flex-direction: column;
}

@mixin directionX {
  display: flex;
  flex-direction: row;
}

@mixin containerBody {
  padding: 0 4rem;
}
