@import '@styles/base';

.card {
  position: relative;
  min-width: 380px !important;
  max-width: 380px !important;
  min-height: 200px;
  background-color: var(--color-neutral-dark-grayish-blue) !important;
}
.text_head {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.25em;
  color: var(--color-neon-green);
}

.text_body {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: var(--color-light-cyan);
}

.typing_animation {
  display: inline;
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

.garis_content {
  position: relative;
  height: 20px;
  margin: 30px 0;
  overflow: hidden;
}

.overlay_line {
  position: absolute;
  left: 0;
  bottom: 50%;
}
.overlay_quote {
  position: absolute;
  left: 165px;
  bottom: 3px;
}

.casino_rounded {
  border-radius: 100%;
  background-color: var(--color-neon-green);
  position: absolute;
  bottom: -10%;
  left: 165px;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.casino_rounded.rolling {
  animation-name: roll;
}
.casino_rounded:hover {
  box-shadow:
    0 0 10px var(--color-neon-green),
    0 0 30px var(--color-neon-green);
}

.overlay_head {
  position: relative;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
