//todo
$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

//Primary
$color-primary-right-blue: hsl(220, 98%, 61%);

//Neutral
//light theme
$color-neutral-light-theme-very-light-gray: hsl(0, 0%, 98%);
$color-neutral-light-theme-very-light-grayish-blue: hsl(0, 0%, 98%);
$color-neutral-light-theme-light-grayish-blue: hsl(233, 11%, 84%);
$color-neutral-light-theme-dark-grayish-blue: hsl(236, 9%, 61%);
$color-neutral-light-theme-very-dark-grayish-blue: hsl(235, 19%, 35%);

//dark theme
$color-neutral-dark-theme-very-dark-blue: hsl(235, 21%, 11%);
$color-neutral-dark-theme-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$color-neutral-dark-theme-light-grayish-blue: hsl(234, 39%, 85%);
$color-neutral-dark-theme-light-grayish-blue-hover: hsl(236, 33%, 92%);
$color-neutral-dark-theme-dark-grayish-blue: hsl(234, 11%, 52%);
$color-neutral-dark-theme-very-dark-grayish-blue: hsl(233, 14%, 35%);


