@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    src: url('/src/static/fonts/josefin/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    src: url('/src/static/fonts/josefin/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 800;
    src: url('/src/static/fonts/josefin/JosefinSans-Bold.ttf') format('truetype');
}
  