@mixin light-theme {
  --color-neutral-grayish-blue: hsl(217, 19%, 85%);
  --color-neutral-dark-grayish-blue: hsl(217, 19%, 70%);
  --color-neutral-dark-blue: hsl(218, 23%, 50%);

  --color-light-cyan: hsl(193, 38%, 95%);
  --color-neon-green: hsl(150, 100%, 85%);
}

@mixin dark-theme {
  --color-neutral-grayish-blue: hsl(217, 19%, 38%);
  --color-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --color-neutral-dark-blue: hsl(218, 23%, 16%);

  --color-light-cyan: hsl(193, 38%, 86%);
  --color-neon-green: hsl(150, 100%, 66%);
}
