@import "../../index.module.scss";

.NavBox {
  height: 100px;
  background-color: $color-light-very-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  @include for-phone-only {
    padding: 0 10px;
  }
}

.Text {
  color: $color-light-very-dark-blue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  // margin-right: 68%;
  // margin-left: 5%;

  @include for-phone-only {
    font-size: 24px;
  }
}

.Theme {
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BsMoon {
  position: absolute;
  scale: 150%;
}

.TextTheme {
  color: $color-light-very-dark-blue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 30px;
}

.darkMode {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.darkModeText {
  color: hsl(0, 0%, 100%);
}
