@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #D6E4EF;

}

.container {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    width: 397px;
    height: 602px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.4) 100%);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    /* justify-content: center; */

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
}

form {
    width: 345px;
    margin: 15px auto;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}


p {
    text-align: center;
    margin: 10px;
}

form label {
    padding: 7px 5px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #D90327;

}

button:hover {
    background: rgba(214, 86, 64, 1);
}

.cover-welcome {
    width: 100%;
    border-radius: 4px;
}

.cover-welcome .img-cover {
    width: 395px;
    padding: 15px;
    display: block;
}

.profile {
    margin-top: -60px;
    display: flex;
    position: relative;
    padding-left: 30px;
}

.img-profile {
    border: 4px solid white;
    border-radius: 100px;
    width: 85px;
}

.sub-title {
    width: 15rem;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 10px;
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.remember input {
    width: 13px;
    accent-color: #D90327;
}

.checkbox {
    display: flex;
}

.forgot-pass {
    text-decoration: none;
    color: #1F2832;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;

}

.not-robert {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
}

.tombol-register {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
}

.new-user {
    background-color: #2F3D4C;
    width: 10rem;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.sign-up {
    background-color: transparent;
    color: #D90327;
    border: 1px solid #D90327;
    width: 10rem;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}