@import "../../index.module.scss";

.container {
  @include containerBody;
  padding-top: 2rem;
  padding-left: 3rem;
  min-height: 90vh;

  .btn_darkMode {
    color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  }

  .btn_lightMode {
    border: 1px solid transparent;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    color: $color-dark-blue;
    font-weight: 300;
  }

  .container_content {
    padding: 2px;
    img {
      margin-right: 5rem;
      height: 400px;
      width: 50rem;
      @include for-phone-only {
        margin-right: 0;
        height: 250px;
        width: 30rem;
      }
    }
  }
  .text_small {
    font-weight: 300;
    font-size: medium;
  }

  .border_country {
    border: 1px solid grey;
    padding: 10px;
  }
}

.darkModeContent {
  background-color: hsl(207, 26%, 17%);
}
