@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.text-decoration-none {
    text-decoration: none;
}

.nav {
    height: 90px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #00000080;
    z-index: 100;
}

.nav>.nav-header {
    display: inline;
    margin-left: 10px;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 40px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links,
.nav>.nav-akun {
    display: inline;
    font-size: 18px;
    float: r;
}

.nav>.nav-links>a,
.nav>.nav-akun>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-akun {
    display: inline;
    float: right;
    font-size: 18px;
}

.main {
    width: 100%;
    height: 10px;
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
}

.img-main,
.img-game,
.img-feature,
.img-system-requirement {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    display: block;

}

.img-top-score {
    background-position: center;
    background-size: cover;
    display: block;
    object-fit: cover;
}

.main .text-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    padding-top: 10px;
}

.main .text-overlay h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 3px;
    text-align: center;
}

.main .text-overlay h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.btn {
    width: 100%;
    margin-top: 50px;
}

.main .text-overlay .btn a, .btn-see-more {
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px 60px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    cursor: pointer;
    border-radius: 5px;
}

.main .main-scroll {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    padding-top: 10px;
    margin-bottom: 20px;
}

.the-game,
.feature {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline;
}

.the-game .container .text {
    width: 100%;
    position: absolute;
    top: 15rem;
    color: #fff;
    padding-top: 10px;
    text-align: left;
    font-family: Arial;
    padding-left: 100px;
}

.slides {
    position: absolute;
    top: 17rem;
    right: 10rem;
    max-width: 40rem;
}

.the-game .container .text h3,
.feature .text-feature h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.the-game .container .text h1,
.feature .text-feature h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;

}

.feature .container {
    width: 100%;
    position: absolute;
    top: 15rem;
    color: #fff;
    padding-top: 10px;
    text-align: left;
    font-family: Arial;
    padding-left: 100px;
}

.feature .text-feature {
    width: 100%;
    position: absolute;
    top: 10rem;
    color: #fff;
    padding-top: 10px;
    text-align: right;
    font-family: Arial;
    padding-right: 15rem;
}

.timeline-container {
    position: absolute;
    bottom: 18rem;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.timeline-game {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline-game::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 55%;
    margin-left: -3px;
}

.title {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.sub-title {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: white;
}

/* contain around content */
.contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.contain::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -10px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the contain to the right */
.right {
    left: 55%;
}

/* Add arrows to the right contain (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
}

/* Fix the circle for contains on the right side */
.right::after {
    left: -13px;
}

/* The actual content */
.content {
    /* background-color: white; */
    position: relative;
    border-radius: 6px;
}

.system-requirement {
    position: relative;
}

.system-requirement .text-system {
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    z-index: 10;
}

.system-requirement .system-title {
    width: 100%;
    position: absolute;
    top: 18rem;
    padding-left: 7rem;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    z-index: 10;
}

.system-requirement .text-system h3 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10rem;
}

.system-requirement .system-title h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;
}

.system-requirement .table-system {
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 30rem;
    padding-left: 6rem;
    color: white;
}

table,
td,
th {
    border: 0.2px solid;
    padding: 12px 12px;
    border-collapse: collapse;
    margin-top: 24px;
    border-color: #85858591;

}

.title-detail-features {
    font-size: 20px;
    color: #ffb548;
}

.desc-detail-features {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}


.top-score {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.top-score .top-score-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-score .top-score-container .tulisan-overlay {
    font-family: Arial;
    letter-spacing: 3px;
    text-align: left;
    color: white;

}

.top-score .top-score-container .tulisan-overlay h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 64px;
}

.top-score .top-score-container .tulisan-overlay p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

.top-score .top-score-container .tulisan-overlay .btn a {
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px 60px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    cursor: pointer;
    letter-spacing: 0px;
    font-weight: bold;
}

.container-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 30rem;
    align-items: flex-end;
}

.card {
    width: 400px;
    background: #FFFFFF14;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.ml {
    margin-right: 5rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.icon-tw {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 6px 3px rgba(255, 181, 72, 1);
}

.profile-info {
    flex: 1;
}

.profile-name {
    color: #FFB548;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.profile-title {
    font-size: 12px;
    color: #888;
    font-family: Open Sans;
    text-align: justified;
    color: #FFFFFF;
}

.message {
    margin-bottom: 10px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: white;
}

.date-created {
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: #888;
}

.newsletter {
    display: grid;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 0.3) 80%,
            rgba(0, 0, 0, 1) 100%),
        url(assets/newsletter.png);
    background-size: cover;

    background-repeat: no-repeat;
    background-position: top;
    padding-top: 5vh;
    padding-right: 7rem;
    color: white;
    grid-template-columns: 1fr 1fr;
}

.detail-newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.stayin-detail-newsletter {
    font-size: 22px;
    width: 200px;
}

.title-detail-newsletter {
    font-size: 46px;
}

.text-detail-newsletter {
    font-size: 16px;
}

.button-detail-newsletter {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
    margin-top: 30px;
}

.button-detail-newsletter .button {
    padding: 12px 24px;
}

.input-newsletter {
    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    color: white;

    outline: none;
    outline: 0;
    padding-left: 10px;
    /* transform: translateY(0); */
}

.footer {
    display: grid;
    width: 100%;
    height: 20vh;
    background: black;
    color: white;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.border {
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.title-footer {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
}

.footer-nav-list {
    display: flex;
    column-gap: 30px;
    font-size: 14px;
}

.social {
    margin-left: 20px;
}

.social-list {
    display: flex;
    column-gap: 40px;

    height: 20px;
}

.img-social {
    height: 16px;
}

